@model CabinetMedical.Models.Consultation

@{
    ViewBag.Title = "Détails de la Consultation";
}

<div class="container-fluid">

    <h1 class="h3 mb-4 text-gray-800">
        <i class="fas fa-file-medical-alt text-info"></i> Détails Consultation
    </h1>

    <div class="card shadow mb-4 border-left-info">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Informations Médicales</h6>
            <span class="badge badge-info">@Html.DisplayFor(model => model.DateConsultation)</span>
        </div>
        <div class="card-body">

            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="p-3 bg-light rounded border">
                        <label class="small font-weight-bold text-uppercase text-gray-500">Patient</label>
                        <h4 class="text-gray-800">
                            <i class="fas fa-user-injured mr-2"></i>
                            @Html.DisplayFor(model => model.Patient.Nom) @Html.DisplayFor(model => model.Patient.Prenom)
                        </h4>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="p-3 bg-light rounded border">
                        <label class="small font-weight-bold text-uppercase text-gray-500">Médecin traitant</label>
                        <h4 class="text-gray-800">
                            <i class="fas fa-user-md mr-2"></i>
                            Dr. @Html.DisplayFor(model => model.Medecin.Nom)
                        </h4>
                    </div>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="font-weight-bold text-danger">Diagnostic :</label>
                        <div class="p-2 border rounded bg-white">
                            @Html.DisplayFor(model => model.Diagnostic)
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="font-weight-bold text-success">Traitement Prescrit :</label>
                        <div class="p-2 border rounded bg-white">
                            @Html.DisplayFor(model => model.Traitement)
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="font-weight-bold text-warning">Observations :</label>
                        <div class="p-2 border rounded bg-white">
                            @Html.DisplayFor(model => model.Observations)
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer text-center">
            @Html.ActionLink("Modifier", "Edit", new { id = Model.IdConsultation }, new { @class = "btn btn-warning btn-sm" })
            @Html.ActionLink("Retour à la liste", "Index", null, new { @class = "btn btn-secondary btn-sm" })
        </div>
    </div>
</div>